<a href="https://colab.research.google.com/github/MarioNavarrete/bigdata-colab/blob/main/bigdata_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BigData Tools in Colab!

The idea of this tutorial is provide you the classical BigData tools without using any of your own local resources.

First, we will clone the repo that contains the needed scripts.

In [1]:
#!rm -r /content/bigdata-colab/
!git clone https://github.com/MarioNavarrete/bigdata-colab.git

rm: cannot remove '/content/bigdata-colab/': No such file or directory
Cloning into 'bigdata-colab'...
remote: Enumerating objects: 72, done.
remote: Counting objects: 100% (72/72), done.
remote: Compressing objects: 100% (47/47), done.
remote: Total 72 (delta 34), reused 54 (delta 20), pack-reused 0
Unpacking objects: 100% (72/72), done.

Preparing the dataset for this tutorial. All the scripts use a CSV file without index and header, so we will convert the parquet file into the needed formated CSV.

In [2]:
import pandas as pd
parquet_file = '/content/bigdata-colab/dataset/data.parquet'
data = pd.read_parquet(parquet_file)
data = data.dropna()
data.reset_index(inplace = True, drop = True)
data.to_csv('data.csv',index = False, header = False)
data.head()

             datetime    a       b        c       d
0 2016-09-30 00:00:01  9.7   60.50   561.68   907.8
1 2016-09-30 00:15:01  2.2   99.22  1818.84  1346.4
2 2016-09-30 00:30:01  5.5   43.56   567.53   571.2
3 2016-09-30 00:45:01  3.8   89.54  1821.72   933.8
4 2016-09-30 01:00:01  6.4  107.69  1319.97   911.2

Instal the environment. This _executable.py_ will do all the work of installing and preparing the bigdata enviroment we need for using HDFS, MapReduce, Hive, Sqoop and Spark.

In [3]:
exec(open('/content/bigdata-colab/executable.py').read())

Active services:
1730 NameNode
2210 Jps
2167 JobHistoryServer
1640 ResourceManager
1998 DataNode
2111 NodeManager

## HDFS and MapReduce

Checking that we are able to use hadoop. We should expect that we have an empty file system.

In [4]:
!hadoop fs -ls

Move the local file into our local HDFS

In [5]:
!hadoop fs -put /content/data.csv data.csv
!hadoop fs -ls

Found 1 items
-rw-r--r--   1 root supergroup   56003136 2020-11-04 16:11 data.csv

A single file as we expected.

We already have created a very basic MapReduce job, and a bash script that run the needed commands to make it work. This should produce the min,max and the average of the second column, grouped by date.

If you want, you can go directly and change the script to point to your own data.

In [6]:
!bash /content/bigdata-colab/mapreduce/mapreduce.sh

rm: `/user/root/Output_test': No such file or directory
20/11/04 16:11:48 WARN streaming.StreamJob: -file option is deprecated, please use generic option -files instead.
packageJobJar: [/content/bigdata-colab/mapreduce/mapper.py, /content/bigdata-colab/mapreduce/reducer.py, /tmp/hadoop-unjar8916503154460475634/] [] /tmp/streamjob930844558876494403.jar tmpDir=null
20/11/04 16:11:49 INFO client.RMProxy: Connecting to ResourceManager at /0.0.0.0:8032
20/11/04 16:11:49 INFO client.RMProxy: Connecting to ResourceManager at /0.0.0.0:8032
20/11/04 16:11:50 INFO mapred.FileInputFormat: Total input paths to process : 1
20/11/04 16:11:50 INFO mapreduce.JobSubmitter: number of splits:2
20/11/04 16:11:50 INFO mapreduce.JobSubmitter: Submitting tokens for job: job_1604506089806_0001
20/11/04 16:11:51 INFO impl.YarnClientImpl: Submitted application application_1604506089806_0001
20/11/04 16:11:51 INFO mapreduce.Job: The url to track the job: http://4bddbf5513f5:8088/proxy/application_1604506089806_0001/
20/11/04 16:11:51 INFO mapreduce.Job: Running job: job_1604506089806_0001
20/11/04 16:11:59 INFO mapreduce.Job: Job job_1604506089806_0001 running in uber mode : false
20/11/04 16:11:59 INFO mapreduce.Job:  map 0% reduce 0%
20/11/04 16:12:11 INFO mapreduce.Job:  map 100% reduce 0%
20/11/04 16:12:20 INFO mapreduce.Job:  map 100% reduce 100%
20/11/04 16:12:20 INFO mapreduce.Job: Job job_1604506089806_0001 completed successfully
20/11/04 16:12:20 INFO mapreduce.Job: Counters: 49
	File System Counters
		FILE: Number of bytes read=21548458
		FILE: Number of bytes written=43451380
		FILE: Number of read operations=0
		FILE: Number of large read operations=0
		FILE: Number of write operations=0
		HDFS: Number of bytes read=56006104
		HDFS: Number of bytes written=20390
		HDFS: Number of read operations=9
		HDFS: Number of large read operations=0
		HDFS: Number of write operations=2
	Job Counters
		Launched map tasks=2
		Launched reduce tasks=1
		Data-local map tasks=2
		Total time spent by all maps in occupied slots (ms)=20375
		Total time spent by all reduces in occupied slots (ms)=5793
		Total time spent by all map tasks (ms)=20375
		Total time spent by all reduce tasks (ms)=5793
		Total vcore-seconds taken by all map tasks=20375
		Total vcore-seconds taken by all reduce tasks=5793
		Total megabyte-seconds taken by all map tasks=20864000
		Total megabyte-seconds taken by all reduce tasks=5932032
	Map-Reduce Framework
		Map input records=964416
		Map output records=964416
		Map output bytes=19619620
		Map output materialized bytes=21548464
		Input split bytes=184
		Combine input records=0
		Combine output records=0
		Reduce input groups=546
		Reduce shuffle bytes=21548464
		Reduce input records=964416
		Reduce output records=546
		Spilled Records=1928832
		Shuffled Maps =2
		Failed Shuffles=0
		Merged Map outputs=2
		GC time elapsed (ms)=438
		CPU time spent (ms)=9280
		Physical memory (bytes) snapshot=738738176
		Virtual memory (bytes) snapshot=5325381632
		Total committed heap usage (bytes)=548405248
	Shuffle Errors
		BAD_ID=0
		CONNECTION=0
		IO_ERROR=0
		WRONG_LENGTH=0
		WRONG_MAP=0
		WRONG_REDUCE=0
	File Input Format Counters
		Bytes Read=56005920
	File Output Format Counters
		Bytes Written=20390
20/11/04 16:12:20 INFO streaming.StreamJob: Output directory: /user/root/Output_test

Check the outputs in HDFS and copy to local

In [7]:
!hadoop fs -ls Out*

Found 2 items
-rw-r--r--   1 root supergroup          0 2020-11-04 16:12 Output_test/_SUCCESS
-rw-r--r--   1 root supergroup      20390 2020-11-04 16:12 Output_test/part-00000

In [8]:
!mkdir /content/mapreduce

!hadoop fs -get /user/root/Output_test /content/mapreduce/output

20/11/04 16:12:25 WARN hdfs.DFSClient: DFSInputStream has been closed already
20/11/04 16:12:25 WARN hdfs.DFSClient: DFSInputStream has been closed already

In [9]:
columns = ['date','max_value','min_value','avg_value']

output_mapred = pd.read_csv('/content/mapreduce/output/part-00000', sep = '\t', names=columns)
output_mapred.date = pd.to_datetime(output_mapred.date)
output_mapred.head()

        date  max_value  min_value   avg_value
0 2016-09-30    9317.58        0.1  397.034175
1 2016-10-01   10925.04        0.1  381.140000
2 2016-10-02   12467.07        0.1  552.618267
3 2016-10-03   11381.92        0.1  402.385950
4 2016-10-04   13262.81        0.1  603.710668

## Hive

For this small tutorial, we are going to create a new Hive table using 3 different methods:


1.   Using an interactive Hive command line and pasting a HiveQL statement.
2.   Running the same HiveQL statement from a .sql file.
3.   Importing a MySQL table into Hive using Sqoop.

#### Loading file from local path and running interactively.

In [11]:
allow_groupby = 'set hive.groupby.orderby.position.alias=true;'

create_statement = """
create table test (datetime timestamp, a double, b double, c double, d double) row format delimited fields terminated by ',';
"""

load_data = "LOAD DATA LOCAL INPATH '/content/data.csv' OVERWRITE INTO TABLE test;"

sql = """
select to_date(datetime),
avg(a) avg_a,
avg(b) avg_b,
avg(c) avg_c,
avg(d) avg_d,
min(a) min_a,
min(b) min_b,
min(c) min_c,
min(d) min_d,
max(a) max_a,
max(b) max_b,
max(c) max_c,
max(d) max_d
from test
group by 1
limit 10;
"""

exit = "exit;"

full_statement = ''.join([allow_groupby,create_statement,load_data,sql,exit])
full_statement

"set hive.groupby.orderby.position.alias=true;\ncreate table test (datetime timestamp, a double, b double, c double, d double) row format delimited fields terminated by ',';\nLOAD DATA LOCAL INPATH '/content/data.csv' OVERWRITE INTO TABLE test;\nselect to_date(datetime),\navg(a) avg_a,\navg(b) avg_b,\navg(c) avg_c,\navg(d) avg_d,\nmin(a) min_a,\nmin(b) min_b,\nmin(c) min_c,\nmin(d) min_d,\nmax(a) max_a,\nmax(b) max_b,\nmax(c) max_c,\nmax(d) max_d\nfrom test\ngroup by 1\nlimit 10;\nexit;"

In [12]:
##you need to copy the printed statement and pasting into the command line that 
##will appear in this block once you run it
!hive

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/content/apache-hive-2.3.7-bin/lib/log4j-slf4j-impl-2.6.2.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/content/hadoop-2.7.0/share/hadoop/common/lib/slf4j-log4j12-1.7.10.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]

Logging initialized using configuration in jar:file:/content/apache-hive-2.3.7-bin/lib/hive-common-2.3.7.jar!/hive-log4j2.properties Async: true
Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
hive> set hive.groupby.orderby.position.alias=true; create table test (datetime timestamp, a double, b double, c double, d double) row format delimited fields terminated by ','; LOAD DATA LOCAL INPATH '/content/data.csv' OVERWRITE INTO TABLE test; select to_date(datetime), avg(a) avg_a, avg(b) avg_b, avg(c) avg_c, avg(d) avg_d, min(a) min_a, min(b) min_b, min(c) min_c, min(d) min_d, max(a) max_a, max(b) max_b, max(c) max_c, max(d) max_d from test group by 1 limit 10; exit;
OK
Time taken: 7.846 seconds
Loading data to table default.test
OK
Time taken: 2.342 seconds
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20201104161336_fbb855c4-95e4-48d1-8541-774ee9cfaa8b
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1604506089806_0002, Tracking URL = http://4bddbf5513f5:8088/proxy/application_1604506089806_0002/
Kill Command = /content/hadoop/bin/hadoop job  -kill job_1604506089806_0002
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-11-04 16:13:46,178 Stage-1 map = 0%,  reduce = 0%
2020-11-04 16:13:58,351 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 10.04 sec
2020-11-04 16:14:04,763 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 11.99 sec
MapReduce Total cumulative CPU time: 11 seconds 990 msec
Ended Job = job_1604506089806_0002
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 11.99 sec   HDFS Read: 56018483 HDFS Write: 1630 SUCCESS
Total MapReduce CPU Time Spent: 11 seconds 990 msec
OK
_c0	avg_a	avg_b	avg_c	avg_d	min_a	min_b	min_c	min_d	max_a	max_b	max_c	max_d
2016-09-30	396.2390833333333	70.59916666666668	803.904291666667	1617.6736875	0.1	1.1	6.25	13.07	9317.58	222.75	3001.68	4406.49
2016-10-01	380.35095833333344	67.8066041666667	831.0852708333329	1830.497854166665	0.1	0.54	8.81	18.28	10925.04	222.75	3196.7599999999998	4666.74
2016-10-02	551.4694791666666	67.49656250000005	956.866541666667	1795.0325208333338	0.1	1.05	9.06	21.14	12467.070000000002	222.75	3786.72	4272.96
2016-10-03	401.5628541666667	67.35631249999994	856.046791666667	1857.349208333334	0.1	0.54	17.07	22.18	11381.92	218.25	2883.79	4339.17
2016-10-04	602.4543958333337	62.76006249999997	1022.9292291666659	1790.7977708333326	0.1	0.53	10.96	24.0	13262.81	222.75	3414.2000000000003	4344.12
2016-10-05	526.0749999999999	66.08541666666666	977.347562500001	1804.760041666666	0.1	1.04	18.59	28.59	10796.72	222.75	3533.0499999999997	4244.38
2016-10-06	503.64766666666713	70.08229166666665	1009.1162291666662	1786.8192083333317	0.1	0.53	11.99	29.42	10664.7	213.84	3707.3399999999997	4270.86
2016-10-07	525.4132083333335	67.80087500000005	1003.0338541666665	1684.7339374999997	0.1	0.53	18.19	31.15	12600.72	213.84	3407.61	4258.9800000000005
2016-10-08	495.9749375	63.471333333333355	950.5857499999998	1744.5025	0.2	0.54	8.57	39.02	12615.82	213.84	3321.7999999999997	4754.97
2016-10-09	536.7492499999995	63.49022916666665	948.547499999999	1792.9299791666667	0.1	0.54	10.02	28.06	11067.93	213.84	3595.41	4599.14
Time taken: 29.42 seconds, Fetched: 10 row(s)

#### Running the same steps using a .sql file

In [ ]:
!hive -f /content/bigdata-colab/hive/script.sql

#### MySQL + Sqoop to Hive

First we need to load our data into our MySQL data base, and then grab all that data and move it into Hive. We will create the same table we created in the past blocks, but we are going to name it _test3_.

In [14]:
!mysql -u root --password=password testdb < /content/bigdata-colab/mysql/load_data.sql

mysql: [Warning] Using a password on the command line interface can be insecure.

In [15]:
!mysql -u root --password=password testdb -e "select * from test3 limit 5"

mysql: [Warning] Using a password on the command line interface can be insecure.
+---------------------+------+--------+---------+--------+
| datetime            | a    | b      | c       | d      |
+---------------------+------+--------+---------+--------+
| 2016-09-30 00:00:01 |  9.7 |   60.5 |  561.68 |  907.8 |
| 2016-09-30 00:15:01 |  2.2 |  99.22 | 1818.84 | 1346.4 |
| 2016-09-30 00:30:01 |  5.5 |  43.56 |  567.53 |  571.2 |
| 2016-09-30 00:45:01 |  3.8 |  89.54 | 1821.72 |  933.8 |
| 2016-09-30 01:00:01 |  6.4 | 107.69 | 1319.97 |  911.2 |
+---------------------+------+--------+---------+--------+

In [ ]:
!sqoop import --connect jdbc:mysql://localhost/testdb --username root --password password --table test3 --hive-import -m 1

Same as the first Hive block, we will need to copy the sql statement and printed into the command line.

In [17]:
sql3 = """set hive.groupby.orderby.position.alias=true;
select to_date(datetime),
avg(a) avg_a,
avg(b) avg_b,
avg(c) avg_c,
avg(d) avg_d,
min(a) min_a,
min(b) min_b,
min(c) min_c,
min(d) min_d,
max(a) max_a,
max(b) max_b,
max(c) max_c,
max(d) max_d
from test3
group by 1
limit 10;
exit;
"""
!hive

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/content/apache-hive-2.3.7-bin/lib/log4j-slf4j-impl-2.6.2.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/content/hadoop-2.7.0/share/hadoop/common/lib/slf4j-log4j12-1.7.10.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]

Logging initialized using configuration in jar:file:/content/apache-hive-2.3.7-bin/lib/hive-common-2.3.7.jar!/hive-log4j2.properties Async: true
Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
hive> set hive.groupby.orderby.position.alias=true; select to_date(datetime), avg(a) avg_a, avg(b) avg_b, avg(c) avg_c, avg(d) avg_d, min(a) min_a, min(b) min_b, min(c) min_c, min(d) min_d, max(a) max_a, max(b) max_b, max(c) max_c, max(d) max_d from test3 group by 1 limit 10; exit;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20201104161701_2e7e4a29-365f-48ed-8e64-7fc17ca6bad8
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1604506089806_0005, Tracking URL = http://4bddbf5513f5:8088/proxy/application_1604506089806_0005/
Kill Command = /content/hadoop/bin/hadoop job  -kill job_1604506089806_0005
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-11-04 16:17:17,324 Stage-1 map = 0%,  reduce = 0%
2020-11-04 16:17:29,374 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 10.08 sec
2020-11-04 16:17:35,797 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 11.98 sec
MapReduce Total cumulative CPU time: 11 seconds 980 msec
Ended Job = job_1604506089806_0005
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 11.98 sec   HDFS Read: 45596881 HDFS Write: 1552 SUCCESS
Total MapReduce CPU Time Spent: 11 seconds 980 msec
OK
_c0	avg_a	avg_b	avg_c	avg_d	min_a	min_b	min_c	min_d	max_a	max_b	max_c	max_d
2016-09-30	396.23908333333327	70.59916666666668	803.904291666667	1617.6736875	0.1	1.1	6.25	13.07	9317.58	222.75	3001.68	4406.49
2016-10-01	380.35087500000003	67.8066041666667	831.0852708333329	1830.497854166665	0.1	0.54	8.81	18.28	10925.0	222.75	3196.76	4666.74
2016-10-02	551.4695416666667	67.49656250000005	956.866541666667	1795.0325208333338	0.1	1.05	9.06	21.14	12467.1	222.75	3786.72	4272.96
2016-10-03	401.56281250000006	67.35631249999994	856.046791666667	1857.349208333334	0.1	0.54	17.07	22.18	11381.9	218.25	2883.79	4339.17
2016-10-04	602.4544375000003	62.76006249999997	1022.9292291666659	1790.7977708333326	0.1	0.53	10.96	24.0	13262.8	222.75	3414.2	4344.12
2016-10-05	526.0749166666666	66.08541666666666	977.347562500001	1804.7600416666662	0.1	1.04	18.59	28.59	10796.7	222.75	3533.05	4244.38
2016-10-06	503.64766666666713	70.08229166666665	1009.1162291666662	1786.819208333332	0.1	0.53	11.99	29.42	10664.7	213.84	3707.34	4270.86
2016-10-07	525.4130833333335	67.80087500000005	1003.0338541666665	1684.7339374999997	0.1	0.53	18.19	31.15	12600.7	213.84	3407.61	4258.98
2016-10-08	495.97497916666657	63.471333333333355	950.5857499999998	1744.5025	0.2	0.54	8.57	39.02	12615.8	213.84	3321.8	4754.97
2016-10-09	536.7491458333328	63.49022916666665	948.547499999999	1792.9299791666667	0.1	0.54	10.02	28.06	11067.9	213.84	3595.41	4599.14
Time taken: 36.649 seconds, Fetched: 10 row(s)

## Spark

For this short tutorial, we are going to load the dataset directly from Hive, and also, directly from the parquet and csv files that will be stored in HDFS.

In [18]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.enableHiveSupport().appName("bigdata-tools").getOrCreate()

#### Reading from Hive

We are going to re-use the sql statement we created in the first Hive block. We dont need to run the create statements due we enable HiveSupport in our Spark session (using _test3_ table this time).

In [20]:
sql = """
select to_date(datetime),
avg(a) avg_a,
avg(b) avg_b,
avg(c) avg_c,
avg(d) avg_d,
min(a) min_a,
min(b) min_b,
min(c) min_c,
min(d) min_d,
max(a) max_a,
max(b) max_b,
max(c) max_c,
max(d) max_d
from test3
group by 1
order by 1 asc;
"""
spark.sql(sql[:-2]).show(10)

+---------------------------------+------------------+------------------+------------------+------------------+-----+-----+-----+-----+-------+------+-------+-------+
|to_date(default.test3.`datetime`)|             avg_a|             avg_b|             avg_c|             avg_d|min_a|min_b|min_c|min_d|  max_a| max_b|  max_c|  max_d|
+---------------------------------+------------------+------------------+------------------+------------------+-----+-----+-----+-----+-------+------+-------+-------+
|                       2016-09-30|396.23908333333327| 70.59916666666668|  803.904291666667|      1617.6736875|  0.1|  1.1| 6.25|13.07|9317.58|222.75|3001.68|4406.49|
|                       2016-10-01|380.35087500000003|  67.8066041666667| 831.0852708333329| 1830.497854166665|  0.1| 0.54| 8.81|18.28|10925.0|222.75|3196.76|4666.74|
|                       2016-10-02| 551.4695416666667| 67.49656250000005|  956.866541666667|1795.0325208333338|  0.1| 1.05| 9.06|21.14|12467.1|222.75|3786.72|4272.96|
|                       2016-10-03|401.56281250000006| 67.35631249999994|  856.046791666667| 1857.349208333334|  0.1| 0.54|17.07|22.18|11381.9|218.25|2883.79|4339.17|
|                       2016-10-04| 602.4544375000003| 62.76006249999997|1022.9292291666659|1790.7977708333326|  0.1| 0.53|10.96| 24.0|13262.8|222.75| 3414.2|4344.12|
|                       2016-10-05| 526.0749166666666| 66.08541666666666|  977.347562500001|1804.7600416666662|  0.1| 1.04|18.59|28.59|10796.7|222.75|3533.05|4244.38|
|                       2016-10-06|503.64766666666713| 70.08229166666665|1009.1162291666662| 1786.819208333332|  0.1| 0.53|11.99|29.42|10664.7|213.84|3707.34|4270.86|
|                       2016-10-07| 525.4130833333335| 67.80087500000005|1003.0338541666665|1684.7339374999997|  0.1| 0.53|18.19|31.15|12600.7|213.84|3407.61|4258.98|
|                       2016-10-08|495.97497916666657|63.471333333333355| 950.5857499999998|         1744.5025|  0.2| 0.54| 8.57|39.02|12615.8|213.84| 3321.8|4754.97|
|                       2016-10-09| 536.7491458333328| 63.49022916666665|  948.547499999999|1792.9299791666667|  0.1| 0.54|10.02|28.06|11067.9|213.84|3595.41|4599.14|
+---------------------------------+------------------+------------------+------------------+------------------+-----+-----+-----+-----+-------+------+-------+-------+
only showing top 10 rows

#### Reading parquet file

We need to put the file into HDFS, and then we can read it.

In [21]:
!hadoop fs -put /content/bigdata-colab/dataset/data.parquet data.parquet

spark_df = spark.read.parquet('/user/root/data.parquet')
spark_df.show(5)

+-------------------+------------------+-----------------+------------------+------------------+
|           datetime|                 a|                b|                 c|                 d|
+-------------------+------------------+-----------------+------------------+------------------+
|2016-09-30 00:00:01| 9.700000000000001|             60.5|            561.68|             907.8|
|2016-09-30 00:15:01|               2.2|            99.22|           1818.84|1346.3999999999999|
|2016-09-30 00:30:01|               5.5|            43.56|            567.53| 571.1999999999999|
|2016-09-30 00:45:01|3.8000000000000003|89.53999999999999|1821.7199999999998|             933.8|
|2016-09-30 01:00:01|               6.4|           107.69|           1319.97| 911.1999999999999|
+-------------------+------------------+-----------------+------------------+------------------+
only showing top 5 rows

We will create the last table _test4_ with the same dataset, and then we will use spark sql to run the spark sql statement.

In [22]:
spark_df.createOrReplaceTempView("test4")
sql = """
select to_date(datetime),
avg(a) avg_a,
avg(b) avg_b,
avg(c) avg_c,
avg(d) avg_d,
min(a) min_a,
min(b) min_b,
min(c) min_c,
min(d) min_d,
max(a) max_a,
max(b) max_b,
max(c) max_c,
max(d) max_d
from test4
group by 1
order by 1 asc;
"""

In [23]:
spark.sql(sql[:-2]).show(5)

+-------------------------+------------------+-----------------+------------------+------------------+-----+-----+-----+-----+------------------+------+------------------+-------+
|to_date(test4.`datetime`)|             avg_a|            avg_b|             avg_c|             avg_d|min_a|min_b|min_c|min_d|             max_a| max_b|             max_c|  max_d|
+-------------------------+------------------+-----------------+------------------+------------------+-----+-----+-----+-----+------------------+------+------------------+-------+
|               2016-09-30| 396.2390833333333|70.59916666666668|  803.904291666667|      1617.6736875|  0.1|  1.1| 6.25|13.07|           9317.58|222.75|           3001.68|4406.49|
|               2016-10-01|380.35095833333344| 67.8066041666667| 831.0852708333329| 1830.497854166665|  0.1| 0.54| 8.81|18.28|          10925.04|222.75|3196.7599999999998|4666.74|
|               2016-10-02| 551.4694791666666|67.49656250000005|  956.866541666667|1795.0325208333338|  0.1| 1.05| 9.06|21.14|12467.070000000002|222.75|           3786.72|4272.96|
|               2016-10-03| 401.5628541666667|67.35631249999994|  856.046791666667| 1857.349208333334|  0.1| 0.54|17.07|22.18|          11381.92|218.25|           2883.79|4339.17|
|               2016-10-04| 602.4543958333337|62.76006249999997|1022.9292291666659|1790.7977708333326|  0.1| 0.53|10.96| 24.0|          13262.81|222.75|3414.2000000000003|4344.12|
+-------------------------+------------------+-----------------+------------------+------------------+-----+-----+-----+-----+------------------+------+------------------+-------+
only showing top 5 rows

#### Reading csv file

We are going to use the CSV we already stored on HDFS.

In [27]:
spark_df_csv = spark.read.csv('/user/root/data.csv', 
                          schema = 'datetime timestamp, a float, b float, c float, d float',
                          sep = ',')
spark_df_csv.show(5)

+-------------------+---+------+-------+------+
|           datetime|  a|     b|      c|     d|
+-------------------+---+------+-------+------+
|2016-09-30 00:00:01|9.7|  60.5| 561.68| 907.8|
|2016-09-30 00:15:01|2.2| 99.22|1818.84|1346.4|
|2016-09-30 00:30:01|5.5| 43.56| 567.53| 571.2|
|2016-09-30 00:45:01|3.8| 89.54|1821.72| 933.8|
|2016-09-30 01:00:01|6.4|107.69|1319.97| 911.2|
+-------------------+---+------+-------+------+
only showing top 5 rows

In [28]:
spark_df_csv.createOrReplaceTempView("test5")
sql = """
select to_date(datetime),
avg(a) avg_a,
avg(b) avg_b,
avg(c) avg_c,
avg(d) avg_d,
min(a) min_a,
min(b) min_b,
min(c) min_c,
min(d) min_d,
max(a) max_a,
max(b) max_b,
max(c) max_c,
max(d) max_d
from test5
group by 1
order by 1 asc;
"""
spark.sql(sql[:-2]).show(5)

+-------------------------+------------------+-----------------+------------------+------------------+-----+-----+-----+-----+--------+------+-------+-------+
|to_date(test5.`datetime`)|             avg_a|            avg_b|             avg_c|             avg_d|min_a|min_b|min_c|min_d|   max_a| max_b|  max_c|  max_d|
+-------------------------+------------------+-----------------+------------------+------------------+-----+-----+-----+-----+--------+------+-------+-------+
|               2016-09-30| 396.2390839710211|70.59916661133369| 803.9042923967044|1617.6736891508103|  0.1|  1.1| 6.25|13.07| 9317.58|222.75|3001.68|4406.49|
|               2016-10-01|380.35096037131734|67.80660413354636| 831.0852713167667| 1830.497857928276|  0.1| 0.54| 8.81|18.28|10925.04|222.75|3196.76|4666.74|
|               2016-10-02| 551.4694790929556|67.49656240890424| 956.8665415167809|1795.0325181643168|  0.1| 1.05| 9.06|21.14|12467.07|222.75|3786.72|4272.96|
|               2016-10-03| 401.5628545624204|67.35631241612137|  856.046790210406|  1857.34920779864|  0.1| 0.54|17.07|22.18|11381.92|218.25|2883.79|4339.17|
|               2016-10-04| 602.4543972864902|62.76006246929367|1022.9292270044485|1790.7977761824925|  0.1| 0.53|10.96| 24.0|13262.81|222.75| 3414.2|4344.12|
+-------------------------+------------------+-----------------+------------------+------------------+-----+-----+-----+-----+--------+------+-------+-------+
only showing top 5 rows

There are some small differences in the outputs due the different precision type we are using for our data.